@(elements: helper.FieldElements)
<div class="@if(elements.hasErrors) {errors} else {form-group}" >
	<label for"@elements.id" class="col-sm-2 cotrol-label" >
		@elements.label
	</label>
	<div class="col-sm-10" >
		@elements.input
	</div>
</div>