@(diretorForm: Form[Diretor])

@main("Novo Diretor") {
	<div class="container" >
		<div class="header" >
			<ul class="nav nav-pills pull-right" >
				<li class="active">
					<a href="/">Home</a>
				</li>
			</ul>
		</div>

	@helper.form(action=routes.DiretorCRUD.gravar()) {
		<form class="form-horizontal" >
			<fieldset>

			<legend>Novo Diretor</legend>

			<div class="control-group" >
				<div class="controls" >
					@helper.inputText(diretorForm("nome"))
					<p class="help-block">Informe o nome do diretor</p>
				</div>
			</div>
			}

			<div class="control-group">
				<label class="control-label" for="singlebutton"></label>
				<div class="controls" >
					<button id="singlebutton" name="singlebutton" class="btn btn-primary">
					Gravar
					</button>
				</div>
			</div>
	</div>
}