@(diretores: List[Diretor])(usuario: String)

@main("Diretores") {

	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '1394546780817344',                        // App ID from the app dashboard
	      status     : true,                                 // Check Facebook Login status
	      xfbml      : true                                  // Look for social plugins on the page
	    });

	    // Additional initialization code such as adding Event Listeners goes here
	  };

	  // Load the SDK asynchronously
	  (function(){
	     // If we've already installed the SDK, we're done
	     if (document.getElementById('facebook-jssdk')) {return;}

	     // Get the first script element, which we'll use to find the parent node
	     var firstScriptElement = document.getElementsByTagName('script')[0];

	     // Create a new script element and set its id
	     var facebookJS = document.createElement('script');
	     facebookJS.id = 'facebook-jssdk';

	     // Set the new script's source to the source of the Facebook JS SDK
	     facebookJS.src = '//connect.facebook.net/en_US/all.js';

	     // Insert the Facebook JS SDK into the DOM
	     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
	   }());
	</script>

	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=1394546780817344";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right" >
				<li class="active">
					<a href="@routes.DiretorCRUD.novoDiretor()">Novo Diretor</a>
				</li>
				<li class="active">
					<a href="/">Home</a>
				</li>
			</ul>
			<h2 class="text-muted">Bem-vindo @usuario !</h2>
			<h3 class="text-muted">Diretores</h3>
		</div>

		<table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
			<tfoot>
				@for(diretor <- diretores) {
					<tr>					
						<th>
							<a href="@routes.DiretorCRUD.detalhar(diretor.id)" >@diretor.nome</a>
						</th>
					</tr>
				}
			</tfoot>
		</table>
	</div>

	<center>
		<div class="fb-comments" data-href="http://play-filmes-facebook.herokuapp.com/" data-numposts="5" data-colorscheme="light">
		</div>
	</center>
}