@(filmeForm: Form[Filme], filmes: List[Filme])

@main("Filmes") {

	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '1394546780817344',                        // App ID from the app dashboard
	      status     : true,                                 // Check Facebook Login status
	      xfbml      : true                                  // Look for social plugins on the page
	    });

	    // Additional initialization code such as adding Event Listeners goes here
	  };

	  // Load the SDK asynchronously
	  (function(){
	     // If we've already installed the SDK, we're done
	     if (document.getElementById('facebook-jssdk')) {return;}

	     // Get the first script element, which we'll use to find the parent node
	     var firstScriptElement = document.getElementsByTagName('script')[0];

	     // Create a new script element and set its id
	     var facebookJS = document.createElement('script');
	     facebookJS.id = 'facebook-jssdk';

	     // Set the new script's source to the source of the Facebook JS SDK
	     facebookJS.src = '//connect.facebook.net/en_US/all.js';

	     // Insert the Facebook JS SDK into the DOM
	     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
	   }());
	</script>

	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=1394546780817344";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right" >
				<li class="active"><a href="@routes.FilmeCRUD.novoFilme()">Novo Filme</a></li>
				<li class="active"><a href="/">Home</a></li>
			</ul>
			<h3 class="text-muted">Filmes</h3>
		</div>
		<table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
			<tfoot>
				<tr>
					<th>ano</th>
					<th>filme</th>
					<th>diretor</th>
					<th>duração</th>
					<th>gênero</th>
					<th>IMDB</th>
				</tr>

				@for(filme <- filmes) {
				<tr>
					<td>@filme.ano</td>
					<td>
						<a href="@routes.FilmeCRUD.detalhar(filme.id)">@filme.nome</a>
						<img src="@routes.FilmeCRUD.imagem(filme.id)" alt="">
					</td>
					<td>@filme.diretor</td>
					<td>@filme.duracao</td>
					<td>@filme.genero</td>
					<td nowrap="nowrap">
						<a href="@filme.url" target="_blank">nota: @filme.nota com @filme.votos votos
					</td>
				</tr>
				}
			</tfoot>
		</table>

		<br />
		<br />

		@helper.form(action = routes.FilmeCRUD.upload(), 'enctype -> "multipart/form-data") {
			<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0" border="0" width="100%">
				<tr>
					<th>Escolha o filme</th>
					<td>
						<select name="filmeId">
						@for(filme <- filmes) {
							<option value="@filme.id">@filme.id - @filme.nome</option>
						}
						</select>
					</td>
				</tr>
				<tr>
					<th>Escolha uma Imagem para fazer upload:</th>
					<td>
						<input type="file" name="picture" class="form-control">
					</td>
				</tr>					
				<tr>
					<td colsplan="2">
						<input type="submit" class="btn brn-primary" value="Enviar imagem">
					</td>
				</tr>
			</table>
		}
	</div>

	<center>
		<div class="fb-comments" data-href="http://play-filmes-facebook.herokuapp.com/" data-numposts="5" data-colorscheme="light">
		</div>
	</center>
}