@main("Top 100 Filmes Cult") {

	<style>
		body {
    	padding-top: 50px;
	    }
	    .starter-template {
	    	padding: 40px 15px;
	    	text-align: center;
	    }
	</style>

	<div class="navbar navbar-inverse navbar-fixed-top" >
		<div class="container" >
			<div class="navbar-header" >
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ></button>
				<a class="navbar-brand" href="/">Top 100 Filmes Cult</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav" >
					<li><a href="/diretor">Diretores</a></li>
					<li><a href="/filme">Filmes</a></li>
					<li><a href="/sobre">Sobre o sistema</a></li>
					<li><a href="/play">Sobre o Play Framework</a></li>
					<li><a href="http://getbootstrap.com">Sobre o Bootstrap</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="starter-template" >
			<h1>Top 100 Filmes Cult</h1>
			<p class="lead">O melhor do cinema está aqui !</p>
		</div>
	</div>
    
}
