@(mensagem: String)

@main("Upload finalizado com sucesso") {
	<div class="container">
		<div class="header">
			<h2>@mensagem</h2>
		</div>
		<div class="control-group">
			<label class="control-label" for="singlebutton"></label>
			<div class="controls">
				<a href="/filme" class="btn btn-primary">retornar para lista de filmes</a>
			</div>	
		</div>
	</div>
}